:root{
  --header-height: 3rem;
  --nav-width: 68px;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

body{
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  transition: .5s;
}

/*===== HEADER =====*/
.header{                  /*===== -------------------- =====*/
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  transition: .5s;
}

.header__toggle{   /* ----------------------------------- */
  font-size: 1.5rem;
  cursor: pointer;
}


/*===== NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

/*Show navbar movil*/
.show{
  left: 0;
}

/*Add padding body movil*/
.body-pd{                               /* ----------------------------------- */
  padding-left: calc(var(--nav-width) + 1rem);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  
  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd{ /* ------------------------------------------------------------------- */
    padding-left: calc(var(--nav-width) + 188px);
  }
}


